@font-face {
    font-family: "noteenchantee";
    src: url("../font/devonshire-regular.ttf") format("truetype");      
   }
@font-face {
    font-family: "chicalafrancaise";
    src: url("../font/croissantone-regular.ttf") format("truetype");      
   }
@font-face {
    font-family: "delicedespapilles";
    src: url("../font/DancingScript-Regular.ttf") format("truetype");      
   }
@font-face {
    font-family: "palettedugout";
    src: url("../font/KaushanScript-Regular.otf") format("truetype");      
   }
@font-face {
    font-family: "header";
    src: url("../font/fallingsky.otf") format("truetype");      
   }
@font-face {
    font-family: "footer";
    src: url("../font/bsb text classic.ttf") format("truetype");      
   }
body
{
    margin:auto;
    width:60%;
    display:flex;
    flex-direction:column;
}    
header
{
    height:120px;
    width:100%;
    text-align:center;
    background-color: #579C87;
}
h1
{
    font-size:3em;
    color:#FDCB46;
    font-family: "header", "comic sans ms", serif ;
}
main
{
    display:flex;
    align-self:center;
    flex-direction:column;
    width:90%;
    margin-bottom:8%;
}
section
{
    margin:auto;
    width:90%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}



/******************************************************************************************
*************************************CHIC A LA FRANCAISE***********************************
******************************************************************************************/

.chicalafrancaise h5
{
    margin-bottom:0%;
    font-size:1.0em;
    font-family: chicalafrancaise, "comic sans ms", serif ;
    background: -webkit-linear-gradient(left,#c87a21, #b47cc5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.chicalafrancaise .menu
{
    font-size:2.2em;
    color:#c87a21;
    font-family: serif ;
}
.CALFbgcolor
{
    background-color:#fbf3fb;
}
.chicalafrancaisebis main
{
    margin-bottom:15%;
    padding-bottom:5%;
}
.chicalafrancaisebis section
{
    width:100%;
}
.chicalafrancaisebis
{
    font-family: "Calisto MT", "comic sans ms", serif ;
}
.chicalafrancaisebis h2
{
    font-size:2em;
    margin-bottom:10%;
    font-family: chicalafrancaise, "comic sans ms", serif ;
    background: -webkit-linear-gradient(left,#c87a21,#905CFD );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.chicalafrancaisebis h3
{
    font-size:1.1em;
    padding-bottom:2%;
}
.chicalafrancaisebis .entree
{
    color:#c87a21;
}
.chicalafrancaisebis .plat
{
    color:#A56799;
}
.chicalafrancaisebis .dessert
{
    color:#6E4CCC;
}
.taille-ornement
{
    width:31%
}
.CAF_animtitre_entree:hover:after
{
    width: 100%;
    background: #c87a21;
}
.CAF_animtitre_plat:hover:after
{
    height:3px;
    width: 100%;
    background: #A56799;
}
.CAF_animtitre_dessert:hover:after
{
    height:3px;
    width: 100%;
    background: #6E4CCC;
}
.entree-ornement
{
    fill:#c87a21;
}
.plat-ornement
{
    fill:#A56799;
}
.dessert-ornement
{
    fill:#6E4CCC;
}
.demitour-ornement
{
    transform:rotate(0.5turn)
}
/******************************************************************************************
*************************************DELICES DES PAPILLES**********************************
******************************************************************************************/

.delicedespapilles
{
    background-color:#fbfbfb;
    font-family: "delicedespapilles", "comic sans ms", serif ;
}
.delicedespapilles h5
{
    margin-bottom:0%;
    font-size:1.6em;
    background: -webkit-linear-gradient(left,#347df1, #a0c6f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.delicedespapilles .menu
{
    margin-top:5%;
    font-size:2.2em;
    color:#347df1;
    font-family: "segoe print", "comic sans ms", serif ;
    font-weight: bold;
}
.delicedespapillesbis main
{
    margin-bottom:10%;
    padding-bottom:5%;
    background-color:#EDEFEF;
}
.delicedespapillesbis p
{
    font-size:0.85em;
}
.delicedespapillesbis h2
{
    font-size:3em;
    font-family: delicedespapilles, "comic sans ms", serif ;
    background: -webkit-linear-gradient(left,#043DE3,#5BADF6 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.delicedespapillesbis h3
{
    display:flex;
    justify-content:space-around;
    font-size:1.0em;
    padding-bottom:2%;
}
.DDP_animtitre_entree:hover:after
{
    width: 100%;
    background: #0228DD;
}
.DDP_animtitre_plat:hover:after
{
    width: 100%;
    background: #0670F3;
}
.DDP_animtitre_dessert:hover:after
{
    width: 100%;
    background: #229DF9;
}
.delicedespapillesbis .entree2
{
    width:30%;
    fill:#0228DD;
}
.delicedespapillesbis .plat2
{

    width:30%;
    fill:#0670F3;
}
.delicedespapillesbis .dessert2
{
    width:30%;
    fill:#229DF9;
}

/******************************************************************************************
*************************************LA PALETTE DU GOUT************************************
******************************************************************************************/
.lapalettedugout
{
    background-color:#ffffff;
    font-family: palettedugout, "comic sans ms", serif ;
}
.lapalettedugout h5
{
    margin-bottom:0%;
    font-size:1.6em;
    background: -webkit-linear-gradient(left, #76bf5c, #e0f3d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lapalettedugout .menu
{
    margin-top:5%;
    font-size:2.0em;
    color:#76bf5c;
    font-family: "segoe print", "comic sans ms", serif ;
    font-weight: bold;
}
.lapalettedugoutbis main
{
    display:flex;
    margin-top:4%;
    margin-bottom:15%;
    padding-bottom:5%;
}
.lapalettedugoutbis .denomination
{
    font-size:0.8em;
    margin-left:0%;
}
.lapalettedugoutbis .prix
{
    font-size:1.2em;
}

.lapalettedugoutbis h2
{
font-size:4em;
font-weight:lighter;
font-family: palettedugout, "comic sans ms", serif ;
background: -webkit-linear-gradient(left,#3D923A,#BFFF81 );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.LPDG_animtitre_entree:hover:after
{
    width: 100%;
    background: -webkit-linear-gradient(left, #3D923A,#BFFF81,#3D923A);
    -webkit-background-clip: content;
    -webkit-text-fill-color: transparent;
}
.LPDG_animtitre_plat:hover:after
{
    height:3px;
    width: 100%;
    background: -webkit-linear-gradient(left, #3D923A,#BFFF81,#3D923A);
    -webkit-background-clip: content;
    -webkit-text-fill-color: transparent;
}
.LPDG_animtitre_dessert:hover:after
{
    height:2px;
    width: 100%;
    background: -webkit-linear-gradient(left, #3D923A,#BFFF81,#3D923A);
    -webkit-background-clip: content;
    -webkit-text-fill-color: transparent;
}
/******************************************************************************************
*************************************ACCUEIL***********************************************
******************************************************************************************/
a
{
    width:100%;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    outline: none;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 1000ms;
    transform:scale(1);
    overflow:hidden;
}

article a:hover
{
    transition-property: transform;
    transition-duration: 1000ms;
    transform:scale(1.15);
    opacity: 0.6;
}
.fade 
{
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
    -moz-transition: opacity 1000ms ease-in-out;
    -webkit-transition: opacity 1000ms ease-in-out;
}
.fade:hover 
{
    opacity: 0.6;
}
.prochainement
{
    display:flex;
    margin-top:5%;
    margin-bottom:5%;
    background-color: #579C87;
    width:40%;
    height:3em;
    border-radius: 10px;
}
@keyframes suspension 
{
    0% { content:" "; }
    33% { content:" ."; } 
    66% { content:" . ."; }
    99% { content:" . . ."; }
}
.suspension:after
{
    display: inline-block;
    animation: suspension 3s infinite;
    content:" ";
}
.prochainement h5
{
    font-family: "footer", "comic sans ms", serif ;
    font-weight:lighter;
    font-size:1.8em;
    color:#FDCB46;
    margin-top:2%;
}
footer
{
    position:fixed;
    margin-top:2em;
    bottom:0px;
    width:60%;
    height:70px;
    background-color: #579C87;
    display:flex;
    justify-content:space-between;
    overflow:hidden;
}
footer a
{
    font-size:1.6em;
    margin-left:2%;
    margin-right:2%;
    color:#FDCB46;
    outline: none;
    text-decoration: none;
    font-family: footer, "comic sans ms", serif ;
    text-align:left;

}


@keyframes wiggle {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.wiggle:hover {
  animation: wiggle 700ms infinite;
}
/******************************************************************************************
*************************************MENTIONS LEGALES**************************************
******************************************************************************************/
.mentionslegales main
{
    margin-top:5%;
    margin-bottom:10%;
    background-color:#579C87;
    color: #FDCB46;
}
.mentionslegales main p
{
    margin-top:2%;
    margin-left:5%;
    margin-right:5%;
}
/******************************************************************************************
*************************************COMMUN************************************************
******************************************************************************************/
img
{
    margin-top:2%;
    height:4%;
    width:35%;
}
.shadow
{
    box-shadow: 0px 0px 5px 3px rgba(212, 212, 212, 0.3);
}
.colonnes
{
    display:flex;
    flex-direction:column;
}
.wrap
{
    display:flex;
    flex-wrap:wrap;
}
.center
{
    text-align:center;
}
.left, article
{
    text-align:left;
}
.ML0 
{
    margin-left:0%;
}
.ML10
{
    margin-left:10%;
}
.ML15
{
    margin-left:15%;
}
.right
{
    text-align:right;
}
.MR10
{
    margin-right:10%;
}
.MR15
{
    margin-right:15%;
}
.top0, p
{
    margin-top:0%;
}

.top5
{
    margin-top:5%;
}
.top10
{
    margin-top:10%;
}
.bold
{
    font-weight:bold;
}
.lighter
{
    font-weight:lighter;
}
.segoe
{
    font-family: "segoe print", "comic sans ms", serif ;
}
.width25
{
    width:25%;
}
.width40
{
    width:40%;
}
.width50
{
    display:flex;
    align-self:center;
    margin-bottom:0%;
    height:10%;
    width:15%;
}
.width500
{
    margin-bottom:3%;
    height:6%;
    width:6%;
}
.width80
{
    width:80%;
}
.between
{
    display:flex;
    justify-content:space-between;
}
.around
{
    display:flex;
    justify-content:space-around;
}
.heightaccueil
{
    height:27em;
}
.JCcenter
{
    display:flex;
    justify-content:center
}

.width95
{
    width:95%;
}
.svdemitour
{
    transform: scale(-1, 1)
}
.NE_animtitre:after, .CAF_animtitre_entree:after, .CAF_animtitre_plat:after, .CAF_animtitre_dessert:after,
.DDP_animtitre_entree:after, .DDP_animtitre_plat:after, .DDP_animtitre_dessert:after,
.LPDG_animtitre_entree:after, .LPDG_animtitre_plat:after, .LPDG_animtitre_dessert:after
{
    content: '';
    display: block;
    height: 2px;
    width: 0;
    transition: 500ms;
}


/******************************************************************************************
*************************************NOTE ENCHANTEE****************************************
******************************************************************************************/
.noteenchantee h5
{
    margin-bottom:0%;
    font-size:1.8em;
}
.noteenchantee .menu
{
    font-size:2.2em;
}
.noteenchanteebis main
{
    font-size:0.8em;
    align-self:center;
    margin-bottom:15%;
}
.NEbgcolor
{
   background-color:#FCDFDB;
}
.NE_animtitre:hover:after {
    width: 100%;
    background: #58272e;
}
.NEcolor
{
    color:#58272e;
}
.NEpolice
{
    font-family: "noteenchantee", "comic sans ms", serif ;
}
.denomination
{
    font-size:1.0em;
    display:flex;
    justify-content:space-between;
}
.noteenchanteebis .denomination p
{
    margin-bottom:3%;
}
.noteenchanteebis .prix
{
    font-size:1.2em;
}
.noteenchanteebis .prix p
{
    margin-bottom:12%;
}
.noteenchanteebis h2
{
    font-size:2.5em;

}
.noteenchanteebis h3
{
    display:flex;
    align-items:center;

    font-size:2em;
    padding-bottom:5%;
}
.noteenchanteebis h4
{
    font-size:1.5em;
    margin-bottom:5%;
}
.svgauche
{
    width:30%;
    fill:#58272e;
}


/******************************************************************************************
*************************************RESPONSIVE********************************************
******************************************************************************************/



@media all and (min-width: 651px) and (max-width: 950px)
{
    body
    {
        width:100%;
    }
    header
    {
        height:120px;
        width:100%;
        text-align:center;
    }
    footer
{
    bottom:0px;
    width:100%;
    height:70px;
}
}

@media all and (min-width: 951px) and (max-width: 1300px)
{
    body
    {
        width:70%;
    }
    header
    {
        height:120px;
        width:100%;
    }
    footer
{
    position:fixed;
    bottom:0px;
    width:70%;
    height:70px;

}
}
@media all and (max-width: 650px)
{

.chicalafrancaisebis h3,  .delicedespapillesbis h3
{
    font-size:0.88em;
}

/******************************************************************************************
*************************************ACCUEIL***********************************************
******************************************************************************************/
body
{
    margin:auto;
    width:100%;
    display:flex;
    flex-direction:column;
}
header
{
    margin-bottom:5%;
    height:120px;
    width:100%;
    text-align:center;
    background-color: #579C87;
}
footer
{
    margin-top:15%;
    height:70px;
    width:100%;
}
section
{
    display:flex;
    flex-direction:column;

}
.thumbaccueil, .noteenchantee, .chicalafrancaise, .lapalettedugout, .delicedespapilles
{
    margin:auto;
    display:flex;
    width:80%;
    height:20em;
    margin-bottom:5%;
}
.width_res_25
{
    width:25%;
}
.fontres
{
    font-size:0.8em;
}

.widthres
{
    width:100%;
}
.prochainement
{
    margin-top:3%;
    margin-bottom:10%;
    width:50%;
    height:3em;
    border-radius: 10px;
}
.prochainement h5
{
    margin:auto;
    font-size:1.1em;
    color:#FDCB46;
    margin-bottom:10%;
}

/******************************************************************************************
*************************************LA PALETTE DU GOUT************************************
******************************************************************************************/
.lapalettedugoutbis img 
{
    margin-top:3%;
    width:25%;
}

/******************************************************************************************
*************************************NOTE ENCHANTEE****************************************
******************************************************************************************/
.noteenchanteebis h4
{
    font-size:1.1em;
}
.noteenchanteebis main
{
    margin-top:0%;
}
.svgauche
{
    margin-top:-1%;
}
/******************************************************************************************
*************************************DELICES DES PAPILLES**********************************
******************************************************************************************/
.delicedespapillesbis .ornement 
{
    width:25%;
    margin-top:-1%;
}



/******************************************************************************************
*************************************CHIC A LA FRANCAISE***********************************
******************************************************************************************/

.chicalafrancaisebis h2
{
    font-size:1.7em;
}
.delicedespapillesbis h2, .lapalettedugoutbis h2
{
    font-size:2.5em;
}








}