@font-face {
    font-family: "noteenchantée";
    src: url("Menus/devonshire-regular.ttf") format("truetype");      
   }
@font-face {
    font-family: "chicalafrancaise";
    src: url("Menus/croissantone-regular.ttf") format("truetype");      
   }
@font-face {
    font-family: "delicedespapilles";
    src: url("Menus/DancingScript-Regular.ttf") format("truetype");      
   }
@font-face {
    font-family: "palettedugout";
    src: url("Menus/KaushanScript-Regular.otf") format("truetype");      
   }
body
{
    height:100%;
    width:40%;
    display:flex;
    flex-direction:column;
    margin:auto;
    border:1px solid black;
}    
header
{
    width:100%;
    text-align:center;
    background-color: #26A69A;
}
h1
{
    font-size:3em;
    color:#FFB300;
    font-weight: bold;
}
main
{

}
section
{
    width:80%;
    display:flex;
    flex-wrap:wrap;
    margin:auto;
    justify-content:space-around;
}
/*section p
{
    text-align:center;
    width:25%;
    font-size:1.5em;
    color:#FFB300;
    background-color: #26A69A;
    border:10px solid #26A69A;
    border-radius:10px;
}*/


.noteenchantée
{
    display:flex;
    width: 40%;
    height: 15em;
    background-color:#FCDFDB;
    margin-top:5%;
    box-shadow: 0px 0px 5px 3px rgba(212, 212, 212, 0.3);
    justify-content:center;
    font-family: noteenchantée, "comic sans ms", serif ;
}
.noteenchantée .menu
{
    font-family: "segoe print", "comic sans ms", serif ;
    font-weight: bold;
}
.chicalafrancaise
{
    display:flex;
    width: 40%;
    height: 15em;
    background-color:#fbf3fb;
    margin-top:5%;
    box-shadow: 0px 0px 5px 3px rgba(212, 212, 212, 0.3);
    justify-content:center;
    font-family: chicalafrancaise, "comic sans ms", serif ;
}
.chicalafrancaise .menu
{
    font-family: serif ;
    font-weight: bold;
}
.delicedespapilles
{
    display:flex;
    width: 40%;
    height: 15em;
    background-color:#fbfbfb;
    margin-top:5%;
    box-shadow: 0px 0px 5px 3px rgba(212, 212, 212, 0.3);
    justify-content:center;
    font-family: delicedespapilles, "comic sans ms", serif ;
}
.delicedespapilles .menu
{
    font-family: "segoe print", "comic sans ms", serif ;
    font-weight: bold;
}
.lapalettedugout
{
    display:flex;
    width: 40%;
    height: 15em;
    background-color:#ffffff;
    margin-top:5%;
    box-shadow: 0px 0px 5px 3px rgba(212, 212, 212, 0.3);
    justify-content:center;
    font-family: palettedugout, "comic sans ms", serif ;
}
.lapalettedugout .menu
{
    font-family: "segoe print", "comic sans ms", serif ;
    font-weight: bold;
}

a
{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    outline: none;
    text-decoration: none;
}
footer
{
    height:50px;
    width:100%;
    background-color: #26A69A;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
footer a
{
    font-size:1.2em;
    margin-left:2%;
    margin-right:2%;
    color:#FFB300;
    outline: none;
    text-decoration: none;
}
.pagemenu
{
    display:flex;
    justify-content:center;

}
.pagemenu img
{
    margin-bottom:10%;
    width:80%;
    box-shadow: 0px 0px 5px 3px rgba(212, 212, 212, 0.3);
    margin-top:10%;
}
/*@media all and (max-width: 900px)
{
    body
    {
        width:100%;
        height:100%;
    }
    .pagemenu img
    {
        width:100%;
        overflow-y:auto;
        height:50%;
    }
    section p 
    {
        font-size:0.8em;
    }
}